body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Helvetica, sans-serif;
}

#navbar {}
#navbar ul {
    list-style-type: none;
}
#navbar li {
    float: left;
}
#navbar a {}

.pointer {
    cursor: pointer;
}
.transparent {
    opacity: 0;
}
.no-bg {
    background: none;
}
