.pano {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.pano-item {
    margin: 10px 0 10px 0;
    padding: 0 0 1em 0;
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
    /* transition: height .5s ease; */
}
.pano-item:hover {
    cursor: pointer;
}
.pano-title {
    font-size: 18pt;
    text-align: center;
}
.pano-item > p {
    text-align: center;
}
.pano-body {}
.pano-before {}
.pano-after {}
.pano-active {
    border-top: 4px solid #bbb;
    border-bottom: 4px solid #bbb;
    opacity: 1;
    transition: font-size .5s ease, opacity .5s ease;
}
.pano-active > .pano-title {
    font-size: 24pt;
}
.pano-inactive {
    opacity: 0.5;
}
